#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}
.name-url{
    color:#272727;
    text-decoration:none;
    font-weight: medium;
    transition: all 0.3s ease;
}
.name-url:hover{
    color:#3857be;
    font-weight: bold;
}